@charset "UTF-8";
html{
  margin: auto;
  min-width:600px;
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}
body{
  min-width:600px;
  background: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

#navbar {
  overflow: hidden;
  width: 100%;
  padding-top: 2px;
  background-color: #000000;
}
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
#content {
margin: auto;
padding: 2%;
width: 87%
}

.card{
  border-radius: 10px;
  margin-bottom: 10px;
  margin: 10px;
}

.card h5{
  text-align: center;
}

.card p{
  text-align: justify;
}

h1{
  margin: auto;
}

#form{
  float: right;
  margin-top: 6px;
  margin-right: 5px;
}
p{
  white-space: nowrap;
  width: 17.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

#btnButton{
  margin-right: 35px;
}

#btnButton2{
  margin-left: 10px;
  margin-right: 63px;
}
#vazio h5{
  margin-top: 10px;
  text-align: center;
  color: #666666;
}
.modal-body h5{
  margin-top: 10px;
  text-align: center;
}
